//
// Custom overrides from a user.
//

// when in slim width...
@media(min-width: 31.25rem) {
    figure { // from base.scss
        //max-width: 70%;
        display: table;
        //border: 1px solid $grey-dk-000;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        //margin-left: 10%; //COMPACT
        //width: fit-content;
        width: 100%; // COMPACT
        text-align-last: center;
        //text-align: center; // ???
        //align-self: center; //doesn't align img
        //align-content: center; //doesn't align img
        //align-items: center; //doesn't align img
    }

    figure img {
        object-fit: scale-down;
        vertical-align: middle;
        text-align: center;
        padding: 1rem;
        max-height: 500px;
        border: 1px solid $grey-dk-000;
        width: 100%; // compact layout
        //object-position: center;
        //align-self: center;
    }

    figure figcaption {
        font-size: small;
        display: table-caption;
        caption-side: bottom;
        padding: 0.5rem;
        border-bottom: 1px solid $grey-dk-000;
        border-left: 1px solid $grey-dk-000;
        border-right: 1px solid $grey-dk-000;
        background-color: $grey-lt-000;
        text-align: center;
        width: 100%; // compact layout
    }
}

// for widths more than 66.5rem...
@media(min-width: 66.5rem) {
    figure { // from base.scss
        //max-width: 70%;
        display: table;
        //border: 1px solid $grey-dk-000;
        margin: 2rem;
        margin-left: 10%;
        //width: fit-content;
        width: 80%;
        text-align-last: center;
        //text-align: center; // ???
        //align-self: center; //doesn't align img
        //align-content: center; //doesn't align img
        //align-items: center; //doesn't align img
      }

    figure img {
        object-fit: scale-down;
        vertical-align: middle;
        text-align: center;
        padding: 1rem;
        max-height: 500px;
        border: 1px solid $grey-dk-000;
        width: 80%;
        //object-position: center;
        //align-self: center;
    }

    figure figcaption {
        font-size: small;
        display: table-caption;
        caption-side: bottom;
        padding: 0.5rem;
        border-bottom: 1px solid $grey-dk-000;
        border-left: 1px solid $grey-dk-000;
        border-right: 1px solid $grey-dk-000;
        background-color: $grey-lt-000;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }
}


@media (min-width: 50rem) {
    .site-title {
        padding-top: 1em;
        padding-bottom: unset;
    }
    .navigation {padding-top: 1em;}
    .main-content { margin-left: $nav-width; }
    .main-content-wrap { 
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
}

