//
// Tables
//
// stylelint-disable max-nesting-depth, selector-no-type, selector-max-type

.table-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: $sp-5;
  overflow-x: auto;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

table {
  display: table;
  min-width: 100%;
  border-collapse: separate;
}

//ALEX PROOF TABLE

/*
table td.shrink {
  white-space: nowrap;
  width: 1%;
}

table td.expand {
//  width: 99%
}

th, td{
  @include fs-3;
  min-width: 1px;
  padding-top: $sp-2;
  padding-bottom: $sp-2;
  padding-right: $sp-2;
  padding-left: $sp-2;
  background-color: $table-background-color;
  border-bottom: $border rgba($border-color, 0.5);
  border-top: $border $border-color;
  border-left: $border $border-color;
  border-right: $border $border-color;
  border: none; // remove borders for proofs

  &:first-of-type { border-left: 0; }
}

table td:nth-child(1) {
  max-width: 20%;
  padding-right: 0;
}

table td:nth-child(2) {
  max-width: 20%;
  padding-right: 0;
  padding-left: 0;
}

table td:nth-child(3) {
  max-width: 20%;
  padding-left: 0;
}

table td:nth-child(4) { //body
  //width: 99%;
  //border-left: $border $border-color;
  //background-color: red; //debug
}

table th:nth-child(4) { //header
  //border-left: $border $border-color;

*/
th,
td {
  @include fs-3;
  min-width: 120px;
  padding-top: $sp-2;
  padding-right: $sp-3;
  padding-bottom: $sp-2;
  padding-left: $sp-3;
  background-color: $table-background-color;
  border-bottom: $border rgba($border-color, 0.5);
  border-left: $border $border-color;

  &:first-of-type {
    border-left: 0;
  }
}

tbody {
  tr {
    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }

      td {
        padding-bottom: $sp-3;
      }
    }
  }
}

thead {
  th {
    //border-bottom: $border $grey-lt-300; //ALEX
    //border-width: 1px; //ALEX
    //color: $grey-dk-000; //ALEX
    border-bottom: $border $border-color;
  }
}
